{% extends 'recommend/category.html' %}

{% block catblock %}
{% if categories %}
<div class="container">
    <div class="row">
    {% for category in categories %}

        <div id="{{category.id}}" class="col shadow-sm bg-white rounded m-2" onclick="toggleChoice(this)">
            <img src="{{category.box_art_url}}" class="rounded mt-2 mx-auto d-block" alt="{{category.name}}">
            <p class="text-center font-weight-light">{{category.name}}</p>
        </div>

        {% if forloop.counter|divisibleby:5 %}
            </div>
            {% if not forloop.last %}
                <div class="row">
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>

</div>
{% else %}
<p>No Twitch Categories available.</p>
{% endif %}
{% endblock %}