{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'recommend/custom.css' %}" types="text/css" media="screen">

    <title>Twitch Recommends</title>
  </head>
  <body>
    <div class="container bg-light">
    <h1>Categories</h1>
    <p>Select your favourite Twitch games / categories.</p>
      <button type="button" class="btn btn-primary" onclick="getChannels()">Get Channels</button>
    {% block catblock %}
    {% endblock %}
    </div>

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
          }
        }
      return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      var choices = []

      function getChannels(){
        var cats = {'categories' : choices, 'csrfmiddlewaretoken' : csrftoken,}
        $.post("http://127.0.0.1:8000/recommend/channels/", cats)
      }

      function toggleChoice(element){
        var id = $(element).attr('id')
        var index = choices.indexOf(id)

        if (choices.includes(id)){
          console.log("already chosen, removing it")
          $(element).removeClass("border border-success bg-light-purp")
          $(element).addClass("shadow-sm bg-white")
          choices.splice(index, 1)
        }
        else{
          console.log("adding choice")
          $(element).addClass("border border-success bg-light-purp")
          $(element).removeClass("shadow-sm bg-white")
          choices.push(id)
        }
      }

    </script>
  </body>
</html>